<!DOCTYPE html>
<HTML>
	<head>
		<meta charset=utf-8 />
		<title>Welcome to <%= @company_name %></title>
		<style type="text/css">
			h2 {color:maroon;}
			table tr span {background-color:yellow;}
		</style>
	</head>
	<body>
		<h2>Dear <%= @fullname %>,</h2>
		Thanks for registering with us at <%= @company_name %>. We look forward to working with you soon.
		<br />
		<br />
		Visit us anytime at <%= @url %>.
		<br />
		<br />
		Please use the credentials below to login:
		<br />
		<table>
			<tr>
				<td>Email:</td> 
				<td><span><%= @email %></span></td>
			</tr>
			<tr>
				<td>Password:</td> 
				<td><span><%= @password %></span></td>
			</tr>
		</table>
		<br />
		Any questions or concern, please don't hesitate to contact us at <%= @support_email %>.
		<br />
		<br />
		Thanks, <br />
		Support Team <br />
		<%= @company_name %>
</body>
</HTML>
