<!-- content -->
<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
	<div class="container">
		<div class="wrapper">
			<div class="aside">
				&nbsp;
			</div>
			<div class="mainContent">
				<h2>Reset Password <em>for your security</em></h2>
				<p>Please enter a new password and verify. You will be taken back to your homepage.</p>
				<% unless flash[:error].blank? %>
				  	<ul class="flash_error">
				  		<li><%= flash[:error] %></li>
				  	</ul>
				  	<br />
				<% end %>
				<%= form_tag users_passwordreset_path, :id =>'new_user' do %>
					<div class="field"><label for="text">Email&nbsp;&nbsp;</label><br /><%= text_field_tag 'email', @user.email, :disabled=>true, :size=>'100' %></div>
					<div class="field"><label for="text">Password&nbsp;&nbsp;&nbsp;</label><br /><%= password_field_tag 'user_password', nil, :class=>'password' %></div>
					<div class="field"><label for="text">Confirm Password&nbsp;&nbsp;&nbsp;</label><br /><%= password_field_tag 'user_password_confirmation', nil, :class=>'password' %></div>
					<div class="wrapper">
						<%= submit_tag value = "Submit", :class => "submit fleft"%>
					</div>
					<br />
				<% end %>
			</div>
		</div>
	</div>
</div>