<!-- content -->
<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
	<div class="container">
		<div class="wrapper">
			<div class="aside">
				&nbsp;
			</div>
			<div class="mainContent">
				<div class="mainContent">
				<h2>Projects<em>past, present and future</em></h2>
				<ul class="projects">
					<li>
						<a href="project.html"><%= image_tag "project_1.jpg" %></a><h4>Nam libero tempore, cum soluta nobis est</h4>
						Eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus emporibus autem quibusdam.
					</li>
					<li>
						<a href="project.html"><%= image_tag "project_2.jpg" %></a><h4>Itaque earum rerum hic tenetur</h4>
						Eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus emporibus autem quibusdam.
					</li>
					<li>
						<a href="project.html"><%= image_tag "project_3.jpg" %></a><h4>Ut enim ad minim veniam, quis nostrud exercitation</h4>
						Eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus emporibus autem quibusdam.
					</li>
					<li>
						<a href="project.html"><%= image_tag "project_4.jpg" %></a><h4>Excepteur sint occaecat cupidatat non proident</h4>
						Eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus emporibus autem quibusdam.
					</li>
					<li>
						<a href="project.html"><%= image_tag "project_5.jpg" %></a><h4>Beatae vitae dicta sunt explicabo</h4>
						Eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus emporibus autem quibusdam.
					</li>
					<li>
						<a href="project.html"><%= image_tag "project_6.jpg" %></a><h4>Neque porro quisquam est, qui dolorem ipsum</h4>
						Eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus emporibus autem quibusdam.
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</div>